/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

body {
  font-family: 'Montserrat', sans-serif;
}
.title-section {
  background-color: #ff4c68;
}
.container-fluid {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2% 2% 2%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 0 40px;
}

.nav-link {
  font-size: 1.2rem;
}

h1 {
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
  margin-top: 5%;
  /* font: normal normal 700 3rem/1.5rem 'Montserrat', sans-serif; */
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}



.title-picture {
  position: absolute;
  left: 20%;
  transform: rotate(25deg);
  width: 60%;
}

/* Features Section */

#features {
  background-color: #fff;
  position: relative;
}


@media (max-width: 800px) {
  #title {
    text-align: center;
  }
  .title-picture {
    position: static;
    transform: rotate(0);
  }
}

.features-article {
  text-align: center;
  margin: 5% 0;
}

.features-article * {
  padding: 5px 0;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 0.5rem;
}
.features-icon:hover {
  color: #ff4c68;
}

.features-title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.article-paragraph {
  color: #8f8f8f;
  font-size: 1.5rem;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-heading {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 10px auto;
  max-width: 1200px;
}

.testimonial-image {
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}

@media (max-width: 800px) {
  .testimonial-heading {
    font-size: 2rem;
  }
  .testimonial-image {
    width: 20%;
  }
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 30px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */



#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}

.cta-heading {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 5%;
}

.cta-button {
  margin: 3% 1% 3%;
}

/* Footer section */

#footer {
  text-align: center;
}

.footer-icons {
  padding: 3% 0 1%;
}

.footer-icon {
  padding: 0 10px;
}

.footer-paragraph {
  color: #8f8f8f;
}
